/* App.css */
.app-container {
  font-family: 'Arial', sans-serif;
  padding: 30px;
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #ffffff, #9b9b9b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.country-list,
.state-list,
.city-list {
  margin-top: 25px;
  padding: 20px;
  border-radius: 6px;
  background-color: #9b9b9b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  width: 60%;
}

.country-list h3,
.state-list h3,
.city-list h4 {
  color: #7b6464;
  margin-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 30px;
  
}

.country-ul,
.state-ul,
.city-ul {
  list-style: none;
  padding: 0;
}

.country-li,
.state-li,
.city-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s ease;
}

.country-li:last-child,
.state-li:last-child,
.city-li:last-child {
  border-bottom: none;
}


.country-name,
.state-name,
.city-name {
  flex-grow: 1;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
}

.country-actions,
.state-actions,
.city-actions {
  display: flex;
  gap: 8px;
}

.add-button,
.edit-button,
.delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: 2px solid white;
}

.add-button {
  background-color: #4CAF50;
  color: white;

  
}

.edit-button {
  background-color: #008CBA;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.add-button:hover,
.edit-button:hover,
.delete-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.add-button:active,
.edit-button:active,
.delete-button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .app-container {
    padding: 20px;
    margin: 20px auto;
  }

  .country-li,
  .state-li,
  .city-li {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .country-actions,
  .state-actions,
  .city-actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}